**/node_modules/

# mud artifacts
.mud
# sqlite indexer data
*.db
*.db-journal

# Environment variables
.env
packages/contracts/.env

# Powers of Tau file (fetched, not committed)
/packages/gpc/ptau/*

# Generated GPC files
packages/gpc/proof-inputs/
packages/gpc/proof-requirements/
packages/gpc/proofs/

# Generated proof output folders
**/proof-output/
